body{
    background-color: antiquewhite;
}

div.title{
    background-color: darkblue;
    text-align: center;
}

div.rightbox, img{
    float: left;
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
}

div.leftbox{
    float: right;
    width: 400px;
    height: 300px;
    margin-right: 200px;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}